* {
  box-sizing: border-box;
}

.item-section {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  row-gap: 5em;
}
